{{#each user_photos}}
    <button class="copy-button" data-clipboard-text="{{url_o}}" title="{{tags}}">
        <img class="gif {{tags}}" data-static-image="{{url_q}}" data-original-image="{{url_o}}" src="{{url_q}}">
    </button>
{{/each}}

<script src="javascripts/ZeroClipboard.js"></script>
<script type="text/javascript">
    var client = new ZeroClipboard();
    var client = new ZeroClipboard(document.getElementsByClassName("copy-button"));
</script>