<nav>
    <div class="ui-widget">
        <input id="tags-search" type="text" placeholder="Tags" aria-required="true">
        <button class="reset-search">reset</button>
        <dl class="search-status">
            <dt>Current Search:</dt>
            <dd class="current-search"></dd>
        </ul>
    </div>
</nav>
<div class="Main">
    <ul class="images-list" data-tag-list="{{#each tags}}{{this}} {{/each}}">
        {{#each user_photos}}
            <li class="image-container fadeIn {{tags}}">
                <button class="copy-button" data-clipboard-text="{{url_o}}" title="{{tags}}">
                    <img data-static-image="{{url_q}}" data-original-image="{{url_o}}" src="{{url_q}}">
                </button>
            </li>
        {{/each}}
    </ul>
</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="javascripts/ZeroClipboard.js"></script>
<script src="javascripts/site.js"></script>
